.doc-title {
  color: darkslategrey;
  font-weight: 450;
}
.doc-byline,
.doc-dateline,
.doc-tagline {
  color: lightslategray;
  font-weight: 350;
  font-size: smaller;
}
.doc-compilation,
.doc-tags {
  font-size: smaller;
}
.doc-image {
  margin-bottom: 5px;
  border-radius: 0%;
  max-width: 120;
}

.docs-section {
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

.docs-list {
  text-align: left;
}
