.worksheet {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 30px;

  .ws-table td {
    border-top: 0px;
    padding: 1px !important;
  }

  .ws-noborder {
    border-top: 0px !important;
  }

  .ws-border {
    border-top: 1px solid #aaa !important;
  }

  .tab-container {
    width: 100%;
  }

  .ws-condensed {
    font-size: 12px;
  }

  .ws-row {
  }

  .ws-fixedfont {
    font-family: 'Courier New', Courier, monospace;
  }

  .ws-date {
    display: table-cell;
    width: 120px;
    text-align: justify;
    text-justify: inter-word;
  }

  .ws-number {
    display: table-cell;
    width: 120px;
    text-align: right;
  }

  .ws-red {
    color: red;
  }

  .el-table__footer-wrapper td {
    background-color: grey !important;
  }

}
